@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans&display=swap');

/* common style */

body {
    font-family: 'Work Sans', sans-serif;
}

/* Styling Header */
.header {
    background-color: #FF900E1A;
}

nav {
    display: flex;
    justify-content: space-between;
    /* margin-left: 224px;
    margin-right: 240px;
    margin-top: 36px; */
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    margin-left: 224px;
    margin-top: 36px;
}

nav ul {
    display: flex;
    align-items: center;
    margin-right: 240px;
}

li {
    font-weight: 500;
    font-size: 18px;
}

nav li {
    list-style: none;
    margin-left: 100px;
}

.header-description {
    width: 910px;
    height: 315px;
    /* padding: 529px; */
    margin-left: 529px;
    /* text-align: center; */
    /* border: 1px solid green; */
    text-align: center;
}

.desctiption-title {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    /* margin-top: 205px; */
}

.btn-primary {
    color: #FFFFFF;
    align-items: center;
    margin-left: 915px;
    /* border: 1px solid red; */
    padding: 15px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
}

.banner-img {
    width: 1440px;
    height: 700px;
    margin-left: 240px;
    padding-top: 50px;
    border-radius: 8px;
    padding-bottom: 45px;
}


/* Styling main */

.img-galary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
    gap: 24px;
    margin-top: 85px;
    margin-left: 301px;
}

.features {
    display: flex;
}

.feature-list {
    margin-left: 380px;
    margin-top: 240px;
    width: 390px;
}

.feature-title {
    font-weight: 700;
    font-size: 45px;
    color: #727272;
}

.text-color-1 {
    color: #131313;
}

.text-color-2 {
    color: #FF900E;
}

.features-details {
    font-size: 16px;
    font-weight: 400;
    width: 537px;
    color: #727272;
}

.btn2 {
    color: #FFFFFF;
    align-items: center;
    padding: 15px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
}

/* About section stylling */

.about {
    width: 1440px;
    height: 1059px;
    /* background-color: #FF900E; */
    margin-top: 130px;
    margin-left: 240px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
}

.about-title {
    color: #131313;
    width: 468px;
    font-weight: 700;
    font-size: 45px;
}

.about-details {
    font-weight: 400;
    font-size: 16px;
}

.about-desctiption-title {
    font-weight: 600;
    font-size: 20px;
    width: 250px;

}

.about-exaples {
    padding-top: 30px;
}

.about-details {
    font-weight: 400;
    font-size: 16px;
    width: 516px;
}

.skill-btn {
    width: 340px;
    height: 217px;
    margin-left: -117px;
    margin-top: -152px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
}

.big-word {
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}

.small-word {
    color: #FFFFFF;
    font-size: 16px;
}

.about-description-info {
    margin-top: 20px;
}

/* Styling some facts */

.facts {
    margin-top: 170px;
    margin-left: 240px;
}

.facts-projects {
    margin-top: 100px;
    display: flex;
    /* margin-left: 124px; */
}

.box1 {
    box-sizing: border-box;
    width: 241.83px;
    height: 241.83px;
    margin-left: 124px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 45px;
}

.fact-title {
    width: 400px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.fact-description {
    font-weight: 400;
    font-size: 16px;
    width: 542px;
    color: #727272;
}

/* sponser section styling */
.sponser {
    margin-top: 150px;
}

.sponser-details {
    width: 542px;
    height: 129px;
    margin-left: 689px;
    text-align: center;
}

.sponser-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.sponser-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.sponser-icon {
    display: flex;
    margin-top: 100px;
}

.sponser-icon img {
    margin-left: 175px;
}

/* footer styling */
footer {
    width: 1440px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    margin-left: 225px;
    margin-top: 100px;
    margin-bottom: 100px;


}

.footer-details {
    width: 620px;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 410px;
}